<span class="svg-wrapper">{% render 'icon-cart-2' %}</span>
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    <span aria-hidden="true">
      {%- if cart.item_count < 100 -%}
        {{ cart.item_count }}
      {%- else -%}
        {{ 'sections.header.cart_count_max.more' | t }}
      {%- endif -%}
    </span>
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
