.product__sticky {
    bottom: 31px;
    left: 50%;
    transform: translate(-50%, 50px);
    max-width: 708px;
    width: calc(100% - 32px);
    background-color: #fff;
    padding: 12px;
    border-radius: calc(var(--radiusBase) * 0.75);
    transition: all 0.5s var(--cubic-smooth);
    opacity: 0;
    visibility: hidden;
    filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.1));
}

.product__sticky.active {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transform: translate(-50%, 0);
}

.sticky-navigation__links {
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid var(--colorBorder);
}

.product__sticky .product-form__input--pill input[type=radio],
.product__sticky .product-form__input--pill input[type=radio]+label {
    display: none;
}

.product__stick-product-wrap {
    column-gap: calc(var(--grid-desktop-vertical-spacing)*(1 / 3));
}

.product__sticky-product {
    width: 48px;
}

.product__sticky .variant-input-wrap {
    margin: 0;
}

.product__sticky :is(.product-form__input--pill,.product-form__input--swatch) .form__label {
    font-size: calc(var(--typeBaseSize) * .875);
    color: #374151;
    max-width: 90px;
    margin: 0;
}

.product__sticky .product-form__submit svg {
    margin-right: 12px;
}

@media screen and (max-width: 768px) {
    .product__sticky-navigation ,
  .product__sticky .product-form__submit svg {
          display: none;
  }
}